The elves are running low on wrapping paper, and so they need to submit an order for more. They have a list of the dimensions (length l, width w, and height h) of each present, and only want to order exactly as much as they need.

Fortunately, every present is a box (a perfect right rectangular prism), which makes calculating the required wrapping paper for each gift a little easier: find the surface area of the box, which is 2*l*w + 2*w*h + 2*h*l. The elves also need a little extra paper for each present: the area of the smallest side.

For example:

A present with dimensions 2x3x4 requires 2*6 + 2*12 + 2*8 = 52 square feet of wrapping paper plus 6 square feet of slack, for a total of 58 square feet.
A present with dimensions 1x1x10 requires 2x1 + 2x10 + 2x10 = 42 square feet of wrapping paper plus 1 square foot of slack, for a total of 43 square feet.
All numbers in the elves' list are in feet. How many total square feet of wrapping paper should they order?

In [16]:
def area(l,w,h):
    a = l*w
    b = w*h 
    c = h*l
    return 2*a + 2*b + 2*c + min(a, b, c)

In [67]:
area(1,1,10)

43

In [68]:
area(2,3,4)

58

In [19]:
import pandas as pd

dimensions = pd.read_csv("day2.csv")

In [21]:
dimensions.shape

(1000, 3)

In [43]:
dimensions.head()

    l   w   h  area
0  29  13  26  3276
1  11  11  14   979
2  27   2   5   408
3   6  10  13   596
4  15  19  10  1400

In [29]:
dimensions["l"][1]

11

In [42]:
dimensions["area"] = 0
for id, row in dimensions.iterrows():
    dimensions.loc[id, "area"] = area(dimensions["l"][id], dimensions["h"][id], dimensions["w"][id])

In [44]:
dimensions.area.sum()

1586300

--- Part Two ---
The elves are also running low on ribbon. Ribbon is all the same width, so they only have to worry about the length they need to order, which they would again like to be exact.

The ribbon required to wrap a present is the shortest distance around its sides, or the smallest perimeter of any one face. Each present also requires a bow made out of ribbon as well; the feet of ribbon required for the perfect bow is equal to the cubic feet of volume of the present. Don't ask how they tie the bow, though; they'll never tell.

For example:

A present with dimensions 2x3x4 requires 2+2+3+3 = 10 feet of ribbon to wrap the present plus 2x3x4 = 24 feet of ribbon for the bow, for a total of 34 feet.
A present with dimensions 1x1x10 requires 1+1+1+1 = 4 feet of ribbon to wrap the present plus 1x1x10 = 10 feet of ribbon for the bow, for a total of 14 feet.
How many total feet of ribbon should they order?

In [59]:
def ribbon(l,w,h):
    a = [l, w, h]
    a.remove(max(a))
    return l*w*h + 2*a[0] + 2*a[1]

In [65]:
ribbon(2,3,4)

34

In [66]:
ribbon(1,1,10)

14

In [69]:
dimensions["ribbon"] = 0
for id, row in dimensions.iterrows():
    dimensions.loc[id, "ribbon"] = ribbon(dimensions["l"][id], dimensions["h"][id], dimensions["w"][id])

In [70]:
dimensions.head()

    l   w   h  area  ribbon
0  29  13  26  3276    9880
1  11  11  14   979    1738
2  27   2   5   408     284
3   6  10  13   596     812
4  15  19  10  1400    2900

In [71]:
dimensions.ribbon.sum()

3737498